<a href="https://colab.research.google.com/github/ashkanmulla/ashkanmulla/blob/main/Preprocessing_Raw_Files_refreshed_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Import Libraries

In [ ]:
import pandas as pd

from datetime import datetime
from datetime import date
from datetime import timedelta
from dateutil.relativedelta import relativedelta

from functools import reduce

import os

## Time Range

In [ ]:
#Datework incl dormant period
month_list=[]

start=datetime(year=2018, month=1, day=1).date() #Start with Fy 22
end=datetime(year=2022, month=1, day=1).date()

while (start<end):
    month_list.append(start.strftime('%Y-%m'))
    start=start+relativedelta(months=1)

last_3_month_list=month_list[-3:]
last_6_month_list=month_list[-6:]
last_9_month_list=month_list[-9:]
last_12_month_list=month_list[-12:]


#Datework excl dormant period
month_list_excl=[]

start=datetime(year=2018, month=1, day=1).date() #Start with Fy 22
end=datetime(year=2021, month=1, day=1).date()

while (start<end):
    month_list_excl.append(start.strftime('%Y-%m'))
    start=start+relativedelta(months=1)

last_3_month_list_excl=month_list[-3:]
last_6_month_list_excl=month_list[-6:]
last_9_month_list_excl=month_list[-9:]
last_12_month_list_excl=month_list[-12:]

month_list

['2018-01',
 '2018-02',
 '2018-03',
 '2018-04',
 '2018-05',
 '2018-06',
 '2018-07',
 '2018-08',
 '2018-09',
 '2018-10',
 '2018-11',
 '2018-12',
 '2019-01',
 '2019-02',
 '2019-03',
 '2019-04',
 '2019-05',
 '2019-06',
 '2019-07',
 '2019-08',
 '2019-09',
 '2019-10',
 '2019-11',
 '2019-12',
 '2020-01',
 '2020-02',
 '2020-03',
 '2020-04',
 '2020-05',
 '2020-06',
 '2020-07',
 '2020-08',
 '2020-09',
 '2020-10',
 '2020-11',
 '2020-12',
 '2021-01',
 '2021-02',
 '2021-03',
 '2021-04',
 '2021-05',
 '2021-06',
 '2021-07',
 '2021-08',
 '2021-09',
 '2021-10',
 '2021-11',
 '2021-12']

## Get Input Files

#### 1. Pay In and Pay Out

In [ ]:
pay_in_1_df=pd.read_excel(os.getcwd()+'/Refreshed_Raw/PayInPayOutData.xlsx',sheet_name='PayIn_1',parse_dates=[0])
pay_in_2_df=pd.read_excel(os.getcwd()+'/Refreshed_Raw/PayInPayOutData.xlsx',sheet_name='PayIn_2',parse_dates=[0])
pay_in_df=pd.concat([pay_in_1_df,pay_in_2_df])

pay_in_df['pay_in Month']=pay_in_df.apply(lambda row: row['Date'].strftime('%Y-%m'),axis=1)
pay_in_df.rename(columns={'Amount':'AMOUNT'},inplace=True)

pay_in_df.drop(columns=['Date'],inplace=True)
pay_in_df.dropna(inplace=True)

pay_out_1_df=pd.read_excel(os.getcwd()+'/Refreshed_Raw/PayInPayOutData.xlsx',sheet_name='Payout_1',parse_dates=[0])
pay_out_2_df=pd.read_excel(os.getcwd()+'/Refreshed_Raw/PayInPayOutData.xlsx',sheet_name='Payout_2',parse_dates=[0])
pay_out_df=pd.concat([pay_out_1_df,pay_out_2_df])

pay_out_df['pay_out Month']=pay_out_df.apply(lambda row: row['Date'].strftime('%Y-%m'),axis=1)
pay_out_df.rename(columns={'Amount':'AMOUNT'},inplace=True)

pay_out_df.drop(columns=['Date'],inplace=True)
pay_out_df.dropna(inplace=True)

#### 2. PnL

In [ ]:
pnl_1=pd.read_excel(os.getcwd()+'/Refreshed_Raw/PnLData_Athithyan_new.xlsx',sheet_name='Sheet1',parse_dates=[6,7])
pnl_2=pd.read_excel(os.getcwd()+'/Refreshed_Raw/PnLData_Athithyan_new.xlsx',sheet_name='Sheet2',parse_dates=[6,7])
pnl_3=pd.read_excel(os.getcwd()+'/Refreshed_Raw/PnLData_Athithyan_new.xlsx',sheet_name='Sheet3',parse_dates=[6,7])
pnl_4=pd.read_excel(os.getcwd()+'/Refreshed_Raw/PnLData_Athithyan_new.xlsx',sheet_name='Sheet4',parse_dates=[6,7])
pnl_5=pd.read_excel(os.getcwd()+'/Refreshed_Raw/PnLData_Athithyan_new.xlsx',sheet_name='Sheet5',parse_dates=[6,7])

pnl_df=pd.concat([pnl_1,pnl_2,pnl_3,pnl_4,pnl_5])
pnl_df.drop(columns=['CapitalGainLoss','Percentage'],inplace=True)

#### 3.Customer Demographic Properties

In [ ]:
dormant_and_traded_clients=pd.read_csv(os.getcwd()+'/Refreshed_Raw/dormant_and_traded_clients.csv')

lsc_df=pd.read_csv('Lead_Sourcewise_Client.csv',parse_dates=[2])
client_info_df=pd.read_csv('Lead_Sourcewise_Client.csv',parse_dates=[1,2])

customer_df=pd.conc


dormant_and_traded_clients=dormant_and_traded_clients.merge(customer_df,on='ClientCode',how='inner')
dormant_and_traded_clients.dropna(inplace=True)

dormant_and_traded_clients['Traded in CY 2022'].value_counts()

0    765508
1    142082
Name: Traded in CY 2022, dtype: int64

In [ ]:
import time
start_=datetime(year=2020, month=12, day=31).date()



def get_account_age_from_doj(doj):
    if doj:
        temp_age =(relativedelta(dt2=doj,dt1=start_)).months + (12*((relativedelta(dt2=doj,dt1=start_)).years)) + ((relativedelta(dt2=doj,dt1=start_)).days/30)
    else:
        temp_age = None

    return temp_age

def get_client_age_from_dob(dob):
    if dob:
        temp_age =(relativedelta(dt2=dob,dt1=start_)).years
    else:
        temp_age = None

    return temp_age



#dormant_and_traded_clients['Account Age (in Months)']=dormant_and_traded_clients['DateOfJoining'].map(get_account_age_from_doj)
dormant_and_traded_clients['Client Age (in Years)']=dormant_and_traded_clients['dateofbirth'].map(get_client_age_from_dob)

#dormant_and_traded_clients.drop(columns=['DateOfJoining','DateOfBirth'],inplace=True)
dormant_and_traded_clients.drop(columns=['dateofbirth'],inplace=True)

In [ ]:
dormant_and_traded_clients.head()

,ClientCode,Traded in CY 2022,Lead_Source_Category,CITY,STATE,Tier_Type,Client Age (in Years)
0,56595599,0,ORGANIC,Nashik,MAHARASHTRA,Tier 2,36
1,59812318,0,PAID,South West Delhi,DELHI,Tier 1,20
2,57513683,0,ORGANIC,Faridabad,HARYANA,Tier 2,29
3,52551124,0,ORGANIC,Nashik,MAHARASHTRA,Tier 2,20
4,55070336,0,ORGANIC,Raigarh(MH),MAHARASHTRA,Tier 3,26

#### 4. Orders

In [ ]:
orders_eq_df=pd.read_excel(os.getcwd()+'/Refreshed_Raw/Orders_Athithyan.xlsx',sheet_name='Orders_Equity',parse_dates=[2])
orders_eq_df.replace({'ExchType': {'C': "Equity", "D": "Derivatives", "U":"Currency"}},inplace=True)

orders_cmdty=pd.read_excel(os.getcwd()+'/Refreshed_Raw/Orders_Athithyan.xlsx',sheet_name='Orders_Commodity',parse_dates=[2])

orders_df=pd.concat([orders_eq_df,orders_cmdty])
orders_df['orders Month']=orders_df.apply(lambda row: row['Date'].strftime('%Y-%m'),axis=1)
orders_df.drop(columns=['Date'],inplace=True)

In [ ]:
orders_df.head()

   ClientCode  orders     ExchType orders Month
0    54200228       1       Equity      2020-02
1    59136603       1  Derivatives      2020-02
2    55051607       1       Equity      2020-02
3    51474311       1       Equity      2020-02
4    52421653       2       Equity      2020-01

#### 6. MF

In [ ]:
mf_sip_df=pd.read_excel(os.getcwd()+'/Refreshed_Raw/MF_Athithyan.xlsx',sheet_name='MF_SIP',parse_dates=[3])
mf_sip_df['MF_Type']=['SIP']*len(mf_sip_df)

mf_lumpsum_df=pd.read_excel(os.getcwd()+'/Refreshed_Raw/MF_Athithyan.xlsx',sheet_name='MF_Lumpsum',parse_dates=[3])
mf_lumpsum_df['MF_Type']=['LumpSum']*len(mf_lumpsum_df)

mf_total_df=pd.concat([mf_sip_df,mf_lumpsum_df])
mf_total_df['MF Month']=mf_total_df.apply(lambda row: row['Date'].strftime('%Y-%m'),axis=1)
mf_total_df.drop(columns=['Date'],inplace=True)

In [ ]:
mf_total_df.head()

   ClientCode  Transactions  Amount MF_Type MF Month
0    56054087             1    2000     SIP  2019-08
1    56837661             1    1000     SIP  2019-08
2    57942714             2    3000     SIP  2019-03
3    58111889             4    6000     SIP  2021-08
4    51194040             1     500     SIP  2020-08

#### 7. Turnover and Brokerage

In [ ]:
cash_1_df=pd.read_excel(os.getcwd()+'/Refreshed_Raw/BrokerageAndTurnover_Athithyan.xlsx',sheet_name='Cash_1',parse_dates=[1])
cash_2_df=pd.read_excel(os.getcwd()+'/Refreshed_Raw/BrokerageAndTurnover_Athithyan.xlsx',sheet_name='Cash_2',parse_dates=[1])
cash_df=pd.concat([cash_1_df,cash_2_df])
cash_df['ExchType']=['Cash']*len(cash_df)

commodity_df=pd.read_excel(os.getcwd()+'/Refreshed_Raw/BrokerageAndTurnover_Athithyan.xlsx',sheet_name='Commodity',parse_dates=[1])
commodity_df['ExchType']=['Commodity']*len(commodity_df)

currency_df=pd.read_excel(os.getcwd()+'/Refreshed_Raw/BrokerageAndTurnover_Athithyan.xlsx',sheet_name='Currency',parse_dates=[1])
currency_df['ExchType']=['Currency']*len(currency_df)


der_1_df=pd.read_excel(os.getcwd()+'/Refreshed_Raw/BrokerageAndTurnover_Athithyan.xlsx',sheet_name='Derivative_1',parse_dates=[1])
der_2_df=pd.read_excel(os.getcwd()+'/Refreshed_Raw/BrokerageAndTurnover_Athithyan.xlsx',sheet_name='Derivative_2',parse_dates=[1])
der_df=pd.concat([der_1_df,der_2_df])
der_df['ExchType']=['Derivative']*len(der_df)

all_to_brkg=pd.concat([cash_df,commodity_df,currency_df,der_df])
all_to_brkg['to_brkg Month']=all_to_brkg.apply(lambda row: row['Date'].strftime('%Y-%m'),axis=1)
all_to_brkg.drop(columns=['Date'],inplace=True)

all_brkg=all_to_brkg[['ClientCode','Brokerage',	'ExchType','to_brkg Month']]
all_to=all_to_brkg[['ClientCode','turnover',	'ExchType','to_brkg Month']]

all_brkg

KeyboardInterrupt:

#### 8. LedgerBal

In [ ]:
ledger_bal_1=pd.read_excel(os.getcwd()+'/Refreshed_Raw/LedgerBal_Athithyan.xlsx',sheet_name='LedgerBal_1_wo_NULL')
ledger_bal_2=pd.read_excel(os.getcwd()+'/Refreshed_Raw/LedgerBal_Athithyan.xlsx',sheet_name='LedgerBal_2_wo_NULL')

ledger_bal_df=pd.concat([ledger_bal_1,ledger_bal_2])

ledger_bal_df.replace({'ExchType': {'NSECash': "Equity", "BSECash":"Equity","FO": "Derivatives"}},inplace=True)


ledger_bal_df.replace({'Quarter_Dormancy': {1: "Y4_Q1_ledgerBal", 2:"Y4_Q2_ledgerBal",3: "Y4_Q3_ledgerBal",4: "Y4_Q4_ledgerBal"
                        ,5: "Y3_Q1_ledgerBal",6: "Y3_Q2_ledgerBal",7: "Y3_Q3_ledgerBal",8: "Y3_Q4_ledgerBal"
                        ,9: "Y2_Q1_ledgerBal",10: "Y2_Q2_ledgerBal",11: "Y2_Q3_ledgerBal",12: "Y2_Q4_ledgerBal"
                        ,13: "Y1_Q1_ledgerBal",14: "Y1_Q2_ledgerBal",15: "Y1_Q3_ledgerBal",16: "Y1_Q4_ledgerBal"
                        ,17: "Y0_Q1_ledgerBal",18: "Y0_Q2_ledgerBal",19: "Y0_Q3_ledgerBal",20: "Y0_Q4_ledgerBal"
                                           }},inplace=True)

'''
ledger_bal_df.replace({'Quarter_Dormancy': {1: "2017_JFM_ledgerBal", 2:"2017_AMJ_ledgerBal",3: "2017_JAS_ledgerBal",4: "2017_OND_ledgerBal"
                        ,5: "2018_JFM_ledgerBal",6: "2018_AMJ_ledgerBal",7: "2018_JAS_ledgerBal",8: "2018_OND_ledgerBal"
                        ,9: "2019_JFM_ledgerBal",10: "2019_AMJ_ledgerBal",11: "2019_JAS_ledgerBal",12: "2019_OND_ledgerBal"
                        ,13: "2020_JFM_ledgerBal",14: "2020_AMJ_ledgerBal",15: "2020_JAS_ledgerBal",16: "2020_OND_ledgerBal"
                        ,17: "2021_JFM_ledgerBal",18: "2021_AMJ_ledgerBal",19: "2021_JAS_ledgerBal",20: "2021_OND_ledgerBal"
                                           }},inplace=True)
'''


ledger_bal_v_amt=ledger_bal_df[['ClientCode','ExchType','TotalVamt','Quarter_Dormancy']]
ledger_bal_bal_amt=ledger_bal_df[['ClientCode','ExchType','TotalBalamt','Quarter_Dormancy']]

#from 2017 to 2021

In [ ]:
ledger_bal_df['Quarter_Dormancy'].value_counts()

Y0_Q2_ledgerBal    985093
Y0_Q3_ledgerBal    594755
Y0_Q4_ledgerBal    176995
Y1_Q2_ledgerBal      4332
Y1_Q1_ledgerBal      1802
Y2_Q4_ledgerBal      1697
Y2_Q3_ledgerBal      1330
Y1_Q3_ledgerBal      1210
Y2_Q2_ledgerBal       843
Y1_Q4_ledgerBal       597
Y0_Q1_ledgerBal        69
Y4_Q3_ledgerBal         9
Y2_Q1_ledgerBal         5
Y4_Q4_ledgerBal         3
Y3_Q4_ledgerBal         1
Name: Quarter_Dormancy, dtype: int64

In [ ]:
ledger_bal_df.head()

    ExchType  ClientCode   TotalVamt  TotalBalamt  Quarter_Dormancy
0     Equity    59014238    210.7600     210.7600                20
1  Commodity    50269673  10838.0114   10838.0114                18
2     Equity    52283588  13911.1800     275.6600                18
3     Equity    55483996     88.5000      88.5000                19
4     Equity    59086189     29.5000      29.5000                20

## Process the Files

#### 1. PayIn and PayOut

In [ ]:
#pay_in
pay_in_df_grouped=pay_in_df.groupby(['ClientCode','pay_in Month']).sum().reset_index()

pay_in_df_grouped_pivot=pay_in_df_grouped.pivot(index='ClientCode',columns='pay_in Month',values='AMOUNT').reset_index().fillna(0)

suffix='_pay_in'
pay_in_df_grouped_pivot=pay_in_df_grouped_pivot.add_suffix(suffix)
pay_in_df_grouped_pivot.rename(columns={'ClientCode'+suffix:'ClientCode'},inplace=True)

#pay_out
pay_out_df_grouped=pay_out_df.groupby(['ClientCode','pay_out Month']).sum().reset_index()

pay_out_df_grouped_pivot=pay_out_df_grouped.pivot(index='ClientCode',columns='pay_out Month',values='AMOUNT').reset_index().fillna(0)

suffix='_pay_out'
pay_out_df_grouped_pivot=pay_out_df_grouped_pivot.add_suffix(suffix)
pay_out_df_grouped_pivot.rename(columns={'ClientCode'+suffix:'ClientCode'},inplace=True)

#### 2. PnL

In [ ]:
#Capital Value Rules

capital_value=[]
for row_pos in range(len(pnl_df)):
    row=pnl_df.iloc[row_pos,:]
    row_buy_date=row['BuyDate_new']
    row_sell_date=row['SellDate_new']

    row_buy_amt=row['BuyAmount']
    row_sell_amt=row['SellAmount']

    if row_sell_date>=row_buy_date:
        capital_value.append(row_sell_amt-row_buy_amt)
    else:
        capital_value.append(row_buy_amt-row_sell_amt)

pnl_df['Capital_Value']= capital_value

# Attribution_Month
pnl_df['PNL Attribution Month']=pnl_df.apply(lambda row: row['SellDate_new'].strftime('%Y-%m')
                                         if row['SellDate_new'] >= row['BuyDate_new'] else row['BuyDate_new'].strftime('%Y-%m'), axis=1)

#Pivoting and formatting as per required format
segments=['Equity','Derivatives','Commodity','Currency','MutualFund']
segment_dfs=[]
segment_pivot_dfs=[]
segment_pivot_trimmed_dfs=[]
segment_pivot_engineered_dfs=[]

month_last_num_list=[3,6,9,12]
month_last_list=["last 3 months","last 6 months","last 9 months","last 12 months"]
month_lists=[last_3_month_list,last_6_month_list,last_9_month_list,last_12_month_list]
month_lists_excl=[last_3_month_list_excl,last_6_month_list_excl,last_9_month_list_excl,last_12_month_list_excl]

month_last_dict=dict(zip(month_last_list,month_lists))
month_last_dict_excl=dict(zip(month_last_list,month_lists_excl))

for segment in segments:
    seg_df=pnl_df[pnl_df['Segment']==segment]

    segment_dfs.append(seg_df)
    seg_df_working=seg_df[['ClientCode','Capital_Value','PNL Attribution Month']]
    seg_df_working_grouped=seg_df_working.groupby(['ClientCode','PNL Attribution Month']).sum().reset_index()
    seg_df_working_grouped_pivot=seg_df_working_grouped.pivot(index='ClientCode',columns='PNL Attribution Month',values='Capital_Value').reset_index().fillna(0)

    suffix='_'+segment.lower()+'_pnl'
    seg_df_working_grouped_pivot=seg_df_working_grouped_pivot.add_suffix(suffix)
    seg_df_working_grouped_pivot.rename(columns={'ClientCode'+suffix:'ClientCode','PNL Attribution Month'+suffix:'PNL Attribution Month'},inplace=True)

    segment_pivot_dfs.append(seg_df_working_grouped_pivot)

    trimmed_col_list=['ClientCode']

    for col in seg_df_working_grouped_pivot.columns:
        col_yr_mth=col[0:7]
        if segment=='MutualFund':
            if col_yr_mth in month_list_excl:
                trimmed_col_list.append(col)
        else:
            if col_yr_mth in month_list:
                trimmed_col_list.append(col)

    seg_df_working_grouped_pivot_trimmed=seg_df_working_grouped_pivot[trimmed_col_list]
    segment_pivot_trimmed_dfs.append(seg_df_working_grouped_pivot_trimmed)

    # getting overall info
    pnl_cols=trimmed_col_list[1:]

    seg_df_working_grouped_pivot_trimmed[suffix+'_delta_months']= (seg_df_working_grouped_pivot_trimmed[pnl_cols] !=0).sum(axis=1)
    seg_df_working_grouped_pivot_trimmed[suffix+'_total']=seg_df_working_grouped_pivot_trimmed[pnl_cols].sum(axis=1)

    #seg_df_working_grouped_pivot_trimmed.dropna(inplace=True)
    #seg_df_working_grouped_pivot_trimmed.drop_duplicates(inplace=True)

    for month_last_pos in range(len(month_last_list)):
        month_last_num=month_last_num_list[month_last_pos]
        month_last=month_last_list[month_last_pos]

        month_list=month_last_dict[month_last]
        month_list_excl=month_last_dict_excl[month_last]

        engineered_col_list=['ClientCode']

        for col in seg_df_working_grouped_pivot_trimmed.columns:
            col_yr_mth=col[0:7]
            if segment=='MutualFund':
                if col_yr_mth in month_list_excl:
                    engineered_col_list.append(col)
            else:
                if col_yr_mth in month_list:
                    engineered_col_list.append(col)

        seg_df_working_grouped_pivot_engineered=seg_df_working_grouped_pivot_trimmed[engineered_col_list]
        pnl_cols=engineered_col_list[1:]

        #last 3,6,9,12m PnL
        seg_df_working_grouped_pivot_trimmed[month_last+suffix]= (seg_df_working_grouped_pivot_trimmed[pnl_cols]).sum(axis=1)

    seg_df_working_grouped_pivot_engineered=seg_df_working_grouped_pivot_trimmed
    segment_pivot_engineered_dfs.append(seg_df_working_grouped_pivot_engineered)




segment_df_dict=dict(zip(segments,segment_dfs))
segment_pivot_df_dict=dict(zip(segments,segment_pivot_dfs))
segment_pivot_df_trimmed_dict=dict(zip(segments,segment_pivot_trimmed_dfs))
segment_pivot_df_engineered_dict=dict(zip(segments,segment_pivot_engineered_dfs))

## Merging and Sorting Segments
pnl_engineered_segment_merged = reduce(lambda  left,right: pd.merge(left,right,on=['ClientCode'],
                                            how='outer'), segment_pivot_engineered_dfs)
pnl_engineered_segment_merged.head()

pnl_engineered_segment_merged_sorted = pnl_engineered_segment_merged.reindex(sorted(pnl_engineered_segment_merged.columns), axis=1)
cc_list=pnl_engineered_segment_merged_sorted['ClientCode']
pnl_engineered_segment_merged_sorted.pop('ClientCode')
pnl_engineered_segment_merged_sorted.insert(0, 'ClientCode', cc_list)

#Datework
month_list=[]
pay_in_out_month_list=[]

start=datetime(year=2018, month=1, day=1).date() #Start with Fy 22
end=datetime(year=2022, month=1, day=1).date()

while (start<end):
    month_list.append(start.strftime('%Y-%m'))
    start=start+relativedelta(months=1)

last_3_month_list=month_list[-3:]
last_6_month_list=month_list[-6:]
last_9_month_list=month_list[-9:]
last_12_month_list=month_list[-12:]

month_list

pnl_engineered_segment_merged = reduce(lambda  left,right: pd.merge(left,right,on=['ClientCode'],
                                            how='outer'), segment_pivot_trimmed_dfs)
pnl_engineered_segment_merged_sorted = pnl_engineered_segment_merged.reindex(sorted(pnl_engineered_segment_merged.columns), axis=1)
cc_list=pnl_engineered_segment_merged_sorted['ClientCode']
pnl_engineered_segment_merged_sorted.pop('ClientCode')
pnl_engineered_segment_merged_sorted.insert(0, 'ClientCode', cc_list)

NameError: name 'last_3_month_list' is not defined

#### 4. Orders

In [ ]:
#Pivoting and formatting as per required format
segments=['Equity','Derivatives','Commodity','Currency']

segment_dfs=[]
segment_pivot_dfs=[]
segment_pivot_trimmed_dfs=[]
segment_pivot_engineered_dfs=[]

total_cols=[]

month_last_num_list=[3,6,9,12]
month_last_list=["last 3 months","last 6 months","last 9 months","last 12 months"]
month_lists=[last_3_month_list,last_6_month_list,last_9_month_list,last_12_month_list]
month_last_dict=dict(zip(month_last_list,month_lists))

month_lists_excl=[last_3_month_list_excl,last_6_month_list_excl,last_9_month_list_excl,last_12_month_list_excl]
month_last_dict_excl=dict(zip(month_last_list,month_lists_excl))


for segment in segments:
    seg_df=orders_df[orders_df['ExchType']==segment]
    segment_dfs.append(seg_df)
    seg_df_working=seg_df[['ClientCode','orders','orders Month']]
    seg_df_working_grouped=seg_df_working.groupby(['ClientCode','orders Month']).sum().reset_index()
    seg_df_working_grouped_pivot=seg_df_working_grouped.pivot(index='ClientCode',columns='orders Month',values='orders').reset_index().fillna(0)

    suffix='_'+segment.lower()+'_orders'
    seg_df_working_grouped_pivot=seg_df_working_grouped_pivot.add_suffix(suffix)
    seg_df_working_grouped_pivot.rename(columns={'ClientCode'+suffix:'ClientCode','orders Month'+suffix:'orders Month'},inplace=True)
    segment_pivot_dfs.append(seg_df_working_grouped_pivot)

    trimmed_col_list=['ClientCode']
    for col in seg_df_working_grouped_pivot.columns:
        col_yr_mth=col[0:7]
        if col_yr_mth in month_list:
            trimmed_col_list.append(col)
    seg_df_working_grouped_pivot_trimmed=seg_df_working_grouped_pivot[trimmed_col_list]
    segment_pivot_trimmed_dfs.append(seg_df_working_grouped_pivot_trimmed)

    # getting overall info
    orders_cols=trimmed_col_list[1:]
    seg_df_working_grouped_pivot_trimmed[suffix+'_months']= (seg_df_working_grouped_pivot_trimmed[orders_cols] !=0).sum(axis=1)
    seg_df_working_grouped_pivot_trimmed[suffix+'_total']=seg_df_working_grouped_pivot_trimmed[orders_cols].sum(axis=1)
    total_cols.append(suffix+'_total')

    for month_last_pos in range(len(month_last_list)):
        month_last_num=month_last_num_list[month_last_pos]
        month_last=month_last_list[month_last_pos]
        month_list_=month_last_dict_excl[month_last]

        engineered_col_list=['ClientCode']

        for col in seg_df_working_grouped_pivot_trimmed.columns:
            col_yr_mth=col[0:7]
            if col_yr_mth in month_list_:
                engineered_col_list.append(col)

        seg_df_working_grouped_pivot_engineered=seg_df_working_grouped_pivot_trimmed[engineered_col_list]
        orders_cols=engineered_col_list[1:]

        #last 3,6,9,12m orders
        seg_df_working_grouped_pivot_trimmed[month_last+suffix]= (seg_df_working_grouped_pivot_trimmed[orders_cols]).sum(axis=1)
        seg_df_working_grouped_pivot_trimmed['_median_of_'+month_last+suffix]= (seg_df_working_grouped_pivot_trimmed[orders_cols]).median(axis=1)

    seg_df_working_grouped_pivot_engineered=seg_df_working_grouped_pivot_trimmed
    segment_pivot_engineered_dfs.append(seg_df_working_grouped_pivot_engineered)



segment_df_dict=dict(zip(segments,segment_dfs))
segment_pivot_df_dict=dict(zip(segments,segment_pivot_dfs))
segment_pivot_df_trimmed_dict=dict(zip(segments,segment_pivot_trimmed_dfs))
segment_pivot_df_engineered_dict=dict(zip(segments,segment_pivot_engineered_dfs))

#Datework
month_list=[]
pay_in_out_month_list=[]

start=datetime(year=2018, month=1, day=1).date() #Start with Fy 22
end=datetime(year=2022, month=1, day=1).date()

while (start<end):
    month_list.append(start.strftime('%Y-%m'))
    start=start+relativedelta(months=1)

last_3_month_list=month_list[-3:]
last_6_month_list=month_list[-6:]
last_9_month_list=month_list[-9:]
last_12_month_list=month_list[-12:]

month_list

orders_engineered_segment_merged = reduce(lambda  left,right: pd.merge(left,right,on=['ClientCode'],
                                            how='outer'), segment_pivot_trimmed_dfs)
orders_engineered_segment_merged_sorted = orders_engineered_segment_merged.reindex(sorted(orders_engineered_segment_merged.columns), axis=1)
cc_list=orders_engineered_segment_merged_sorted['ClientCode']
orders_engineered_segment_merged_sorted.pop('ClientCode')
orders_engineered_segment_merged_sorted.insert(0, 'ClientCode', cc_list)

orders_engineered_segment_merged_sorted['all_orders_total']= orders_engineered_segment_merged_sorted[total_cols].sum(axis=1)
orders_engineered_segment_merged_sorted=orders_engineered_segment_merged_sorted.fillna(0)
#orders_engineered_segment_merged_sorted.head()

In [ ]:
orders_engineered_segment_merged_sorted.head()

orders Month,ClientCode,2018-12_currency_orders,2018-12_derivatives_orders,2018-12_equity_orders,2019-02_commodity_orders,2019-02_currency_orders,2019-02_derivatives_orders,2019-02_equity_orders,2019-03_commodity_orders,2019-04_commodity_orders,...,last 3 months_equity_orders,last 6 months_commodity_orders,last 6 months_currency_orders,last 6 months_derivatives_orders,last 6 months_equity_orders,last 9 months_commodity_orders,last 9 months_currency_orders,last 9 months_derivatives_orders,last 9 months_equity_orders,all_orders_total
0,22222222,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0
1,50000272,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,50000311,0.0,0.0,6.0,0.0,0.0,0.0,41.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,47.0
3,50000341,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,50000381,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0

#### 6. MF

In [ ]:
#Pivoting and formatting as per required format
segments=['SIP','LumpSum']

segment_dfs=[]
segment_pivot_dfs_txns=[]
segment_pivot_dfs_amt=[]
all_pivot_dfs=[]

for segment in segments:
    seg_df=mf_total_df[mf_total_df['MF_Type']==segment]
    segment_dfs.append(seg_df)

    #txns
    seg_df_working=seg_df[['ClientCode','Transactions','MF Month']]
    seg_df_working_grouped=seg_df_working.groupby(['ClientCode','MF Month']).sum().reset_index()
    seg_df_working_grouped_pivot=seg_df_working_grouped.pivot(index='ClientCode',columns='MF Month',values='Transactions').reset_index().fillna(0)

    suffix='_'+segment.lower()+'_mf_txns'
    seg_df_working_grouped_pivot=seg_df_working_grouped_pivot.add_suffix(suffix)
    seg_df_working_grouped_pivot.rename(columns={'ClientCode'+suffix:'ClientCode','MF Month'+suffix:'MF Month'},inplace=True)
    segment_pivot_dfs_txns.append(seg_df_working_grouped_pivot)
    all_pivot_dfs.append(seg_df_working_grouped_pivot)

    #Amount
    seg_df_working=seg_df[['ClientCode','Amount','MF Month']]
    seg_df_working_grouped=seg_df_working.groupby(['ClientCode','MF Month']).sum().reset_index()
    seg_df_working_grouped_pivot=seg_df_working_grouped.pivot(index='ClientCode',columns='MF Month',values='Amount').reset_index().fillna(0)

    suffix='_'+segment.lower()+'_mf_amt'
    seg_df_working_grouped_pivot=seg_df_working_grouped_pivot.add_suffix(suffix)
    seg_df_working_grouped_pivot.rename(columns={'ClientCode'+suffix:'ClientCode','MF Month'+suffix:'MF Month'},inplace=True)
    segment_pivot_dfs_amt.append(seg_df_working_grouped_pivot)
    all_pivot_dfs.append(seg_df_working_grouped_pivot)



segment_df_dict=dict(zip(segments,segment_dfs))

segment_pivot_df_txns_dict=dict(zip(segments,segment_pivot_dfs_txns))
segment_pivot_df_amt_dict=dict(zip(segments,segment_pivot_dfs_amt))


## Merging and Sorting Segments
mf_segment_txns_merged = reduce(lambda  left,right: pd.merge(left,right,on=['ClientCode'],
                                            how='outer'), segment_pivot_dfs_txns)

mf_segment_txns_merged_sorted = mf_segment_txns_merged.reindex(sorted(mf_segment_txns_merged.columns), axis=1)
cc_list=mf_segment_txns_merged_sorted['ClientCode']
mf_segment_txns_merged_sorted.pop('ClientCode')
mf_segment_txns_merged_sorted.insert(0, 'ClientCode', cc_list)

## Merging and Sorting Segments
mf_segment_amt_merged = reduce(lambda  left,right: pd.merge(left,right,on=['ClientCode'],
                                            how='outer'), segment_pivot_dfs_amt)

mf_segment_amt_merged_sorted = mf_segment_amt_merged.reindex(sorted(mf_segment_amt_merged.columns), axis=1)
cc_list=mf_segment_amt_merged_sorted['ClientCode']
mf_segment_amt_merged_sorted.pop('ClientCode')
mf_segment_amt_merged_sorted.insert(0, 'ClientCode', cc_list)


mf_segment_txns_merged_sorted_totals_only=mf_segment_txns_merged_sorted.copy()
mf_segment_amt_merged_sorted_totals_only=mf_segment_amt_merged_sorted.copy()


for month in month_list:
    month_cols=[col for col in mf_segment_txns_merged_sorted.columns if col.startswith(month)]
    mf_segment_txns_merged_sorted_totals_only[month+'_mf_txns_total']=mf_segment_txns_merged_sorted_totals_only[month_cols].sum(axis=1)
    month_cols=[col for col in mf_segment_amt_merged_sorted_totals_only.columns if col.startswith(month)]
    mf_segment_amt_merged_sorted_totals_only[month+'_mf_amt_total']=mf_segment_amt_merged_sorted_totals_only[month_cols].sum(axis=1)

cc_list=mf_segment_txns_merged_sorted_totals_only['ClientCode']
mf_segment_txns_merged_sorted_totals_only=mf_segment_txns_merged_sorted_totals_only[[col for col in mf_segment_txns_merged_sorted_totals_only if col.endswith('_total')]]
mf_segment_txns_merged_sorted_totals_only.insert(0, 'ClientCode', cc_list)

cc_list=mf_segment_amt_merged_sorted_totals_only['ClientCode']
mf_segment_amt_merged_sorted_totals_only=mf_segment_amt_merged_sorted_totals_only[[col for col in mf_segment_amt_merged_sorted_totals_only if col.endswith('_total')]]
mf_segment_amt_merged_sorted_totals_only.insert(0, 'ClientCode', cc_list)

#### 7. Turnover and Brokerage

In [ ]:
all_brkg.head()

   ClientCode  Brokerage ExchType to_brkg Month
0    22222222        0.0     Cash       2019-02
1    22222222        0.0     Cash       2018-09
2    22222222        0.0     Cash       2018-10
3    22222222        0.0     Cash       2018-11
4    22222222        0.0     Cash       2018-12

In [ ]:
#Pivoting and formatting as per required format
segments=['Cash','Derivative','Commodity','Currency']

segment_dfs=[]
segment_pivot_dfs=[]
segment_pivot_trimmed_dfs=[]
segment_pivot_engineered_dfs=[]

total_cols=[]

month_last_num_list=[3,6,9,12]
month_last_list=["last 3 months","last 6 months","last 9 months","last 12 months"]
month_lists=[last_3_month_list,last_6_month_list,last_9_month_list,last_12_month_list]
month_last_dict=dict(zip(month_last_list,month_lists))

month_lists_excl=[last_3_month_list_excl,last_6_month_list_excl,last_9_month_list_excl,last_12_month_list_excl]
month_last_dict_excl=dict(zip(month_last_list,month_lists_excl))


for segment in segments:
    seg_df=all_brkg[all_brkg['ExchType']==segment]
    segment_dfs.append(seg_df)
    seg_df_working=seg_df[['ClientCode','Brokerage','to_brkg Month']]
    seg_df_working_grouped=seg_df_working.groupby(['ClientCode','to_brkg Month']).sum().reset_index()
    seg_df_working_grouped_pivot=seg_df_working_grouped.pivot(index='ClientCode',columns='to_brkg Month',values='Brokerage').reset_index().fillna(0)

    suffix='_'+segment.lower()+'_brokerage'
    seg_df_working_grouped_pivot=seg_df_working_grouped_pivot.add_suffix(suffix)
    seg_df_working_grouped_pivot.rename(columns={'ClientCode'+suffix:'ClientCode','to_brkg Month'+suffix:'to_brkg Month'},inplace=True)
    segment_pivot_dfs.append(seg_df_working_grouped_pivot)

    trimmed_col_list=['ClientCode']
    for col in seg_df_working_grouped_pivot.columns:
        col_yr_mth=col[0:7]
        if col_yr_mth in month_list:
            trimmed_col_list.append(col)
    seg_df_working_grouped_pivot_trimmed=seg_df_working_grouped_pivot[trimmed_col_list]
    segment_pivot_trimmed_dfs.append(seg_df_working_grouped_pivot_trimmed)

    # getting overall info
    orders_cols=trimmed_col_list[1:]
    seg_df_working_grouped_pivot_trimmed[suffix+'_months']= (seg_df_working_grouped_pivot_trimmed[orders_cols] !=0).sum(axis=1)
    seg_df_working_grouped_pivot_trimmed[suffix+'_total']=seg_df_working_grouped_pivot_trimmed[orders_cols].sum(axis=1)
    total_cols.append(suffix+'_total')

    for month_last_pos in range(len(month_last_list)):
        month_last_num=month_last_num_list[month_last_pos]
        month_last=month_last_list[month_last_pos]
        month_list_=month_last_dict_excl[month_last]

        engineered_col_list=['ClientCode']

        for col in seg_df_working_grouped_pivot_trimmed.columns:
            col_yr_mth=col[0:7]
            if col_yr_mth in month_list_:
                engineered_col_list.append(col)

        seg_df_working_grouped_pivot_engineered=seg_df_working_grouped_pivot_trimmed[engineered_col_list]
        orders_cols=engineered_col_list[1:]

        #last 3,6,9,12m orders
        seg_df_working_grouped_pivot_trimmed[month_last+suffix]= (seg_df_working_grouped_pivot_trimmed[orders_cols]).sum(axis=1)
        seg_df_working_grouped_pivot_trimmed['_median_of_'+month_last+suffix]= (seg_df_working_grouped_pivot_trimmed[orders_cols]).median(axis=1)

    seg_df_working_grouped_pivot_engineered=seg_df_working_grouped_pivot_trimmed
    segment_pivot_engineered_dfs.append(seg_df_working_grouped_pivot_engineered)



segment_df_dict=dict(zip(segments,segment_dfs))
segment_pivot_df_dict=dict(zip(segments,segment_pivot_dfs))
segment_pivot_df_trimmed_dict=dict(zip(segments,segment_pivot_trimmed_dfs))
segment_pivot_df_engineered_dict=dict(zip(segments,segment_pivot_engineered_dfs))

#Datework
month_list=[]
pay_in_out_month_list=[]

start=datetime(year=2018, month=1, day=1).date() #Start with Fy 22
end=datetime(year=2022, month=1, day=1).date()

while (start<end):
    month_list.append(start.strftime('%Y-%m'))
    start=start+relativedelta(months=1)

last_3_month_list=month_list[-3:]
last_6_month_list=month_list[-6:]
last_9_month_list=month_list[-9:]
last_12_month_list=month_list[-12:]

month_list

brkg_engineered_segment_merged = reduce(lambda  left,right: pd.merge(left,right,on=['ClientCode'],
                                            how='outer'), segment_pivot_trimmed_dfs)
brkg_engineered_segment_merged_sorted = brkg_engineered_segment_merged.reindex(sorted(brkg_engineered_segment_merged.columns), axis=1)
cc_list=brkg_engineered_segment_merged_sorted['ClientCode']
brkg_engineered_segment_merged_sorted.pop('ClientCode')
brkg_engineered_segment_merged_sorted.insert(0, 'ClientCode', cc_list)

brkg_engineered_segment_merged_sorted['all_brkg_total']= brkg_engineered_segment_merged_sorted[total_cols].sum(axis=1)
brkg_engineered_segment_merged_sorted=brkg_engineered_segment_merged_sorted.fillna(0)
#orders_engineered_segment_merged_sorted.head()

segment_dfs=[]
segment_pivot_dfs=[]
segment_pivot_trimmed_dfs=[]
segment_pivot_engineered_dfs=[]

total_cols=[]



for segment in segments:
    seg_df=all_to[all_to['ExchType']==segment]
    segment_dfs.append(seg_df)
    seg_df_working=seg_df[['ClientCode','turnover','to_brkg Month']]
    seg_df_working_grouped=seg_df_working.groupby(['ClientCode','to_brkg Month']).mean().reset_index()
    seg_df_working_grouped_pivot=seg_df_working_grouped.pivot(index='ClientCode',columns='to_brkg Month',values='turnover').reset_index().fillna(0)

    suffix='_'+segment.lower()+'_turnover'
    seg_df_working_grouped_pivot=seg_df_working_grouped_pivot.add_suffix(suffix)
    seg_df_working_grouped_pivot.rename(columns={'ClientCode'+suffix:'ClientCode','to_brkg Month'+suffix:'to_brkg Month'},inplace=True)
    segment_pivot_dfs.append(seg_df_working_grouped_pivot)

    trimmed_col_list=['ClientCode']
    for col in seg_df_working_grouped_pivot.columns:
        col_yr_mth=col[0:7]
        if col_yr_mth in month_list:
            trimmed_col_list.append(col)
    seg_df_working_grouped_pivot_trimmed=seg_df_working_grouped_pivot[trimmed_col_list]
    segment_pivot_trimmed_dfs.append(seg_df_working_grouped_pivot_trimmed)

    # getting overall info
    orders_cols=trimmed_col_list[1:]
    seg_df_working_grouped_pivot_trimmed[suffix+'_months']= (seg_df_working_grouped_pivot_trimmed[orders_cols] !=0).sum(axis=1)
    seg_df_working_grouped_pivot_trimmed[suffix+'_total']=seg_df_working_grouped_pivot_trimmed[orders_cols].sum(axis=1)
    total_cols.append(suffix+'_total')

    for month_last_pos in range(len(month_last_list)):
        month_last_num=month_last_num_list[month_last_pos]
        month_last=month_last_list[month_last_pos]
        month_list_=month_last_dict_excl[month_last]

        engineered_col_list=['ClientCode']

        for col in seg_df_working_grouped_pivot_trimmed.columns:
            col_yr_mth=col[0:7]
            if col_yr_mth in month_list_:
                engineered_col_list.append(col)

        seg_df_working_grouped_pivot_engineered=seg_df_working_grouped_pivot_trimmed[engineered_col_list]
        orders_cols=engineered_col_list[1:]

        #last 3,6,9,12m orders
        seg_df_working_grouped_pivot_trimmed[month_last+'_mean_of_'+suffix]= (seg_df_working_grouped_pivot_trimmed[orders_cols]).mean(axis=1)
        seg_df_working_grouped_pivot_trimmed['_median_of_'+month_last+suffix]= (seg_df_working_grouped_pivot_trimmed[orders_cols]).median(axis=1)

    seg_df_working_grouped_pivot_engineered=seg_df_working_grouped_pivot_trimmed
    segment_pivot_engineered_dfs.append(seg_df_working_grouped_pivot_engineered)



segment_df_dict=dict(zip(segments,segment_dfs))
segment_pivot_df_dict=dict(zip(segments,segment_pivot_dfs))
segment_pivot_df_trimmed_dict=dict(zip(segments,segment_pivot_trimmed_dfs))
segment_pivot_df_engineered_dict=dict(zip(segments,segment_pivot_engineered_dfs))

#Datework
month_list=[]
pay_in_out_month_list=[]

start=datetime(year=2018, month=1, day=1).date() #Start with Fy 22
end=datetime(year=2022, month=1, day=1).date()

while (start<end):
    month_list.append(start.strftime('%Y-%m'))
    start=start+relativedelta(months=1)

last_3_month_list=month_list[-3:]
last_6_month_list=month_list[-6:]
last_9_month_list=month_list[-9:]
last_12_month_list=month_list[-12:]

month_list

to_engineered_segment_merged = reduce(lambda  left,right: pd.merge(left,right,on=['ClientCode'],
                                            how='outer'), segment_pivot_trimmed_dfs)
to_engineered_segment_merged_sorted = to_engineered_segment_merged.reindex(sorted(to_engineered_segment_merged.columns), axis=1)
cc_list=to_engineered_segment_merged_sorted['ClientCode']
to_engineered_segment_merged_sorted.pop('ClientCode')
to_engineered_segment_merged_sorted.insert(0, 'ClientCode', cc_list)

to_engineered_segment_merged_sorted['all_to_avg']= to_engineered_segment_merged_sorted[total_cols].mean(axis=1)
#to_engineered_segment_merged_sorted=brkg_engineered_segment_merged_sorted.fillna(0)

to_brkg_engineered_segment_merged_sorted=to_engineered_segment_merged_sorted.merge(brkg_engineered_segment_merged_sorted,on='ClientCode',how='outer')

C:\Users\C215016\AppData\Local\Temp\ipykernel_50784\1580827244.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seg_df_working_grouped_pivot_trimmed[suffix+'_months']= (seg_df_working_grouped_pivot_trimmed[orders_cols] !=0).sum(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_50784\1580827244.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seg_df_working_grouped_pivot_trimmed[suffix+'_total']=seg_df_working_grouped_pivot_trimmed[orders_cols].sum(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_50784\1580827244.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seg_df_working_grouped_pivot_trimmed[month_last+suffix]= (seg_df_working_grouped_pivot_trimmed[orders_cols]).sum(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_50784\1580827244.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seg_df_working_grouped_pivot_trimmed['_median_of_'+month_last+suffix]= (seg_df_working_grouped_pivot_trimmed[orders_cols]).median(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_50784\1580827244.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seg_df_working_grouped_pivot_trimmed[month_last+suffix]= (seg_df_working_grouped_pivot_trimmed[orders_cols]).sum(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_50784\1580827244.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seg_df_working_grouped_pivot_trimmed['_median_of_'+month_last+suffix]= (seg_df_working_grouped_pivot_trimmed[orders_cols]).median(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_50784\1580827244.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seg_df_working_grouped_pivot_trimmed[month_last+suffix]= (seg_df_working_grouped_pivot_trimmed[orders_cols]).sum(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_50784\1580827244.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seg_df_working_grouped_pivot_trimmed['_median_of_'+month_last+suffix]= (seg_df_working_grouped_pivot_trimmed[orders_cols]).median(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_50784\1580827244.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seg_df_working_grouped_pivot_trimmed[month_last+suffix]= (seg_df_working_grouped_pivot_trimmed[orders_cols]).sum(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_50784\1580827244.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seg_df_working_grouped_pivot_trimmed['_median_of_'+month_last+suffix]= (seg_df_working_grouped_pivot_trimmed[orders_cols]).median(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_50784\1580827244.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seg_df_working_grouped_pivot_trimmed[suffix+'_months']= (seg_df_working_grouped_pivot_trimmed[orders_cols] !=0).sum(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_50784\1580827244.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seg_df_working_grouped_pivot_trimmed[suffix+'_total']=seg_df_working_grouped_pivot_trimmed[orders_cols].sum(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_50784\1580827244.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seg_df_working_grouped_pivot_trimmed[month_last+suffix]= (seg_df_working_grouped_pivot_trimmed[orders_cols]).sum(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_50784\1580827244.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seg_df_working_grouped_pivot_trimmed['_median_of_'+month_last+suffix]= (seg_df_working_grouped_pivot_trimmed[orders_cols]).median(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_50784\1580827244.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seg_df_working_grouped_pivot_trimmed[month_last+suffix]= (seg_df_working_grouped_pivot_trimmed[orders_cols]).sum(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_50784\1580827244.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seg_df_working_grouped_pivot_trimmed['_median_of_'+month_last+suffix]= (seg_df_working_grouped_pivot_trimmed[orders_cols]).median(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_50784\1580827244.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seg_df_working_grouped_pivot_trimmed[month_last+suffix]= (seg_df_working_grouped_pivot_trimmed[orders_cols]).sum(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_50784\1580827244.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seg_df_working_grouped_pivot_trimmed['_median_of_'+month_last+suffix]= (seg_df_working_grouped_pivot_trimmed[orders_cols]).median(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_50784\1580827244.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seg_df_working_grouped_pivot_trimmed[suffix+'_months']= (seg_df_working_grouped_pivot_trimmed[orders_cols] !=0).sum(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_50784\1580827244.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seg_df_working_grouped_pivot_trimmed[suffix+'_total']=seg_df_working_grouped_pivot_trimmed[orders_cols].sum(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_50784\1580827244.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seg_df_working_grouped_pivot_trimmed[month_last+suffix]= (seg_df_working_grouped_pivot_trimmed[orders_cols]).sum(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_50784\1580827244.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seg_df_working_grouped_pivot_trimmed['_median_of_'+month_last+suffix]= (seg_df_working_grouped_pivot_trimmed[orders_cols]).median(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_50784\1580827244.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seg_df_working_grouped_pivot_trimmed['_median_of_'+month_last+suffix]= (seg_df_working_grouped_pivot_trimmed[orders_cols]).median(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_50784\1580827244.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seg_df_working_grouped_pivot_trimmed[month_last+suffix]= (seg_df_working_grouped_pivot_trimmed[orders_cols]).sum(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_50784\1580827244.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seg_df_working_grouped_pivot_trimmed['_median_of_'+month_last+suffix]= (seg_df_working_grouped_pivot_trimmed[orders_cols]).median(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_50784\1580827244.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seg_df_working_grouped_pivot_trimmed[month_last+suffix]= (seg_df_working_grouped_pivot_trimmed[orders_cols]).sum(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_50784\1580827244.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seg_df_working_grouped_pivot_trimmed['_median_of_'+month_last+suffix]= (seg_df_working_grouped_pivot_trimmed[orders_cols]).median(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_50784\1580827244.py:135: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seg_df_working_grouped_pivot_trimmed[suffix+'_months']= (seg_df_working_grouped_pivot_trimmed[orders_cols] !=0).sum(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_50784\1580827244.py:136: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seg_df_working_grouped_pivot_trimmed[suffix+'_total']=seg_df_working_grouped_pivot_trimmed[orders_cols].sum(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_50784\1580827244.py:155: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seg_df_working_grouped_pivot_trimmed[month_last+'_mean_of_'+suffix]= (seg_df_working_grouped_pivot_trimmed[orders_cols]).mean(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_50784\1580827244.py:156: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seg_df_working_grouped_pivot_trimmed['_median_of_'+month_last+suffix]= (seg_df_working_grouped_pivot_trimmed[orders_cols]).median(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_50784\1580827244.py:155: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seg_df_working_grouped_pivot_trimmed[month_last+'_mean_of_'+suffix]= (seg_df_working_grouped_pivot_trimmed[orders_cols]).mean(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_50784\1580827244.py:156: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seg_df_working_grouped_pivot_trimmed['_median_of_'+month_last+suffix]= (seg_df_working_grouped_pivot_trimmed[orders_cols]).median(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_50784\1580827244.py:155: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seg_df_working_grouped_pivot_trimmed[month_last+'_mean_of_'+suffix]= (seg_df_working_grouped_pivot_trimmed[orders_cols]).mean(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_50784\1580827244.py:156: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seg_df_working_grouped_pivot_trimmed['_median_of_'+month_last+suffix]= (seg_df_working_grouped_pivot_trimmed[orders_cols]).median(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_50784\1580827244.py:155: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seg_df_working_grouped_pivot_trimmed[month_last+'_mean_of_'+suffix]= (seg_df_working_grouped_pivot_trimmed[orders_cols]).mean(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_50784\1580827244.py:156: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seg_df_working_grouped_pivot_trimmed['_median_of_'+month_last+suffix]= (seg_df_working_grouped_pivot_trimmed[orders_cols]).median(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_50784\1580827244.py:135: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seg_df_working_grouped_pivot_trimmed[suffix+'_months']= (seg_df_working_grouped_pivot_trimmed[orders_cols] !=0).sum(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_50784\1580827244.py:136: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seg_df_working_grouped_pivot_trimmed[suffix+'_total']=seg_df_working_grouped_pivot_trimmed[orders_cols].sum(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_50784\1580827244.py:155: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seg_df_working_grouped_pivot_trimmed[month_last+'_mean_of_'+suffix]= (seg_df_working_grouped_pivot_trimmed[orders_cols]).mean(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_50784\1580827244.py:156: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
to_brkg_engineered_segment_merged_sorted.head()

to_brkg Month,ClientCode,2018-01_cash_turnover,2018-01_currency_turnover,2018-01_derivative_turnover,2018-02_cash_turnover,2018-02_currency_turnover,2018-02_derivative_turnover,2018-03_cash_turnover,2018-03_currency_turnover,2018-03_derivative_turnover,...,last 3 months_derivative_brokerage,last 6 months_cash_brokerage,last 6 months_commodity_brokerage,last 6 months_currency_brokerage,last 6 months_derivative_brokerage,last 9 months_cash_brokerage,last 9 months_commodity_brokerage,last 9 months_currency_brokerage,last 9 months_derivative_brokerage,all_brkg_total
0,22222222,0.0,NaN,NaN,0.0,NaN,NaN,0.00,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.000
1,50000024,0.0,NaN,NaN,0.0,NaN,NaN,0.00,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,2211.250
2,50000041,0.0,NaN,NaN,0.0,NaN,NaN,0.00,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,472.045
3,50000060,0.0,NaN,NaN,0.0,NaN,NaN,0.00,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.000
4,50000063,0.0,NaN,0.0,0.0,NaN,0.0,11161.75,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,37.25,0.0,0.0,0.0,2092.015

#### 8. LedgerBal

In [ ]:
#Pivoting and formatting as per required format
segments=['Equity','Derivatives','Commodity','Currency']

segment_dfs=[]
segment_pivot_dfs=[]
segment_pivot_trimmed_dfs=[]

total_cols=[]

for segment in segments:
    seg_df=ledger_bal_bal_amt[ledger_bal_bal_amt['ExchType']==segment]
    segment_dfs.append(seg_df)
    seg_df_working=seg_df[['ClientCode','TotalBalamt','Quarter_Dormancy']]
    seg_df_working_grouped=seg_df_working.groupby(['ClientCode','Quarter_Dormancy']).sum().reset_index()
    seg_df_working_grouped_pivot=seg_df_working_grouped.pivot(index='ClientCode',columns='Quarter_Dormancy',values='TotalBalamt').reset_index().fillna(0)

    suffix='_'+segment.lower()+'_ledger_bal_total_bal'
    seg_df_working_grouped_pivot=seg_df_working_grouped_pivot.add_suffix(suffix)
    seg_df_working_grouped_pivot.rename(columns={'ClientCode'+suffix:'ClientCode','Quarter_Dormancy'+suffix:'Quarter_Dormancy'},inplace=True)
    segment_pivot_dfs.append(seg_df_working_grouped_pivot)

    trimmed_col_list=['ClientCode']
    for col in seg_df_working_grouped_pivot.columns:
        col_yr=col[0:4]
        if col_yr in ["2018","2019","2020","2021"]:
            trimmed_col_list.append(col)
    seg_df_working_grouped_pivot_trimmed=seg_df_working_grouped_pivot[trimmed_col_list]
    segment_pivot_trimmed_dfs.append(seg_df_working_grouped_pivot_trimmed)


segment_df_dict=dict(zip(segments,segment_dfs))
segment_pivot_df_dict=dict(zip(segments,segment_pivot_dfs))
segment_pivot_df_trimmed_dict=dict(zip(segments,segment_pivot_trimmed_dfs))

ledger_bal_bal_amt_merged = reduce(lambda  left,right: pd.merge(left,right,on=['ClientCode'],
                                            how='outer'), segment_pivot_dfs)
ledger_bal_bal_amt_merged_sorted = ledger_bal_bal_amt_merged.reindex(sorted(ledger_bal_bal_amt_merged.columns), axis=1)
cc_list=ledger_bal_bal_amt_merged_sorted['ClientCode']
ledger_bal_bal_amt_merged_sorted.pop('ClientCode')
ledger_bal_bal_amt_merged_sorted.insert(0, 'ClientCode', cc_list)

ledger_bal_bal_amt_merged_sorted['_ledger_bal_total_bal_avg']= ledger_bal_bal_amt_merged_sorted[total_cols].mean(axis=1)


segment_dfs=[]
segment_pivot_dfs=[]
segment_pivot_trimmed_dfs=[]

total_cols=[]

for segment in segments:
    seg_df=ledger_bal_v_amt[ledger_bal_v_amt['ExchType']==segment]
    segment_dfs.append(seg_df)
    seg_df_working=seg_df[['ClientCode','TotalVamt','Quarter_Dormancy']]
    seg_df_working_grouped=seg_df_working.groupby(['ClientCode','Quarter_Dormancy']).sum().reset_index()
    seg_df_working_grouped_pivot=seg_df_working_grouped.pivot(index='ClientCode',columns='Quarter_Dormancy',values='TotalVamt').reset_index().fillna(0)

    suffix='_'+segment.lower()+'_ledger_bal_total_v'
    seg_df_working_grouped_pivot=seg_df_working_grouped_pivot.add_suffix(suffix)
    seg_df_working_grouped_pivot.rename(columns={'ClientCode'+suffix:'ClientCode','Quarter_Dormancy'+suffix:'Quarter_Dormancy'},inplace=True)
    segment_pivot_dfs.append(seg_df_working_grouped_pivot)

    trimmed_col_list=['ClientCode']
    for col in seg_df_working_grouped_pivot.columns:
        col_yr=col[0:2]
        if col_yr in ["Y0","Y1","Y2","Y3"]:
            trimmed_col_list.append(col)
    seg_df_working_grouped_pivot_trimmed=seg_df_working_grouped_pivot[trimmed_col_list]
    segment_pivot_trimmed_dfs.append(seg_df_working_grouped_pivot_trimmed)


segment_df_dict=dict(zip(segments,segment_dfs))
segment_pivot_df_dict=dict(zip(segments,segment_pivot_dfs))
segment_pivot_df_trimmed_dict=dict(zip(segments,segment_pivot_trimmed_dfs))

ledger_bal_v_amt_merged = reduce(lambda  left,right: pd.merge(left,right,on=['ClientCode'],
                                            how='outer'), segment_pivot_trimmed_dfs)
ledger_bal_v_amt_merged_sorted = ledger_bal_v_amt_merged.reindex(sorted(ledger_bal_v_amt_merged.columns), axis=1)
cc_list=ledger_bal_v_amt_merged_sorted['ClientCode']
ledger_bal_v_amt_merged_sorted.pop('ClientCode')
ledger_bal_v_amt_merged_sorted.insert(0, 'ClientCode', cc_list)

ledger_bal_v_amt_merged_sorted['_ledger_bal_v_avg']= ledger_bal_v_amt_merged_sorted[total_cols].mean(axis=1)


ledger_bal_all_amt_merged_sorted=ledger_bal_bal_amt_merged_sorted.merge(ledger_bal_v_amt_merged_sorted,on='ClientCode',how='outer')

In [ ]:
ledger_bal_v_amt_merged_sorted

Quarter_Dormancy,ClientCode,Y0_Q1_ledgerBal_commodity_ledger_bal_total_v,Y0_Q1_ledgerBal_equity_ledger_bal_total_v,Y0_Q2_ledgerBal_commodity_ledger_bal_total_v,Y0_Q2_ledgerBal_currency_ledger_bal_total_v,Y0_Q2_ledgerBal_derivatives_ledger_bal_total_v,Y0_Q2_ledgerBal_equity_ledger_bal_total_v,Y0_Q3_ledgerBal_commodity_ledger_bal_total_v,Y0_Q3_ledgerBal_currency_ledger_bal_total_v,Y0_Q3_ledgerBal_derivatives_ledger_bal_total_v,...,Y1_Q1_ledgerBal_commodity_ledger_bal_total_v,Y1_Q2_ledgerBal_commodity_ledger_bal_total_v,Y1_Q3_ledgerBal_commodity_ledger_bal_total_v,Y1_Q4_ledgerBal_commodity_ledger_bal_total_v,Y2_Q1_ledgerBal_commodity_ledger_bal_total_v,Y2_Q2_ledgerBal_commodity_ledger_bal_total_v,Y2_Q3_ledgerBal_commodity_ledger_bal_total_v,Y2_Q4_ledgerBal_commodity_ledger_bal_total_v,Y3_Q4_ledgerBal_commodity_ledger_bal_total_v,_ledger_bal_v_avg
0,22222222,NaN,0.0,NaN,NaN,NaN,31657.91,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,50000022,NaN,0.0,NaN,NaN,NaN,1.00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,50000024,NaN,0.0,NaN,NaN,NaN,215.36,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,50000041,NaN,0.0,NaN,NaN,NaN,1.00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,50000058,NaN,0.0,NaN,NaN,NaN,147.50,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
893435,59999973,0.0,0.0,621236.1,2186.38,846628.09,1475827.31,0.0,0.0,0.0,...,1411688.21,621236.1,0.0,0.0,0.0,0.0,21579.28,46825.61,0.0,NaN
893436,59999983,NaN,0.0,NaN,NaN,NaN,0.00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
893437,59999986,NaN,0.0,NaN,NaN,NaN,147.50,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
893438,59999995,NaN,0.0,NaN,NaN,NaN,218.42,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
893439,59999999,NaN,0.0,NaN,NaN,NaN,2988.02,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Trimming the dfs for the time range

In [ ]:
#Datework incl dormant period
month_list=[]

start=datetime(year=2018, month=1, day=1).date() #Start with Fy 22
end=datetime(year=2022, month=1, day=1).date()

while (start<end):
    month_list.append(start.strftime('%Y-%m'))
    start=start+relativedelta(months=1)

last_3_month_list=month_list[-3:]
last_6_month_list=month_list[-6:]
last_9_month_list=month_list[-9:]
last_12_month_list=month_list[-12:]


#Datework excl dormant period
month_list_excl=[]

start=datetime(year=2018, month=1, day=1).date() #Start with Fy 22
end=datetime(year=2021, month=1, day=1).date()

while (start<end):
    month_list_excl.append(start.strftime('%Y-%m'))
    start=start+relativedelta(months=1)

last_3_month_list_excl=month_list[-3:]
last_6_month_list_excl=month_list[-6:]
last_9_month_list_excl=month_list[-9:]
last_12_month_list_excl=month_list[-12:]

month_list

#### 1. PayIn and PayOut

In [ ]:
# pay_in

#Trimming
trimmed_col_list=['ClientCode']

for col in pay_in_df_grouped_pivot.columns:
    col_yr_mth=col[0:7]
    if col_yr_mth in month_list:
        trimmed_col_list.append(col)

pay_in_df_grouped_pivot_trimmed=pay_in_df_grouped_pivot[trimmed_col_list]

# getting overall info
pay_in_cols=trimmed_col_list[1:]

pay_in_df_grouped_pivot_trimmed['pay_in_months']= (pay_in_df_grouped_pivot_trimmed[pay_in_cols] > 0).sum(axis=1)
pay_in_df_grouped_pivot_trimmed['pay_in_total']=pay_in_df_grouped_pivot_trimmed[pay_in_cols].sum(axis=1)
pay_in_df_grouped_pivot_trimmed['avg_pay_in_per_pay_in_month']=pay_in_df_grouped_pivot_trimmed['pay_in_total']/pay_in_df_grouped_pivot_trimmed['pay_in_months']

pay_in_df_grouped_pivot_trimmed.dropna(inplace=True)
pay_in_df_grouped_pivot_trimmed.drop_duplicates(inplace=True)

# pay_out
#Trimming
trimmed_col_list=['ClientCode']

for col in pay_out_df_grouped_pivot.columns:
    col_yr_mth=col[0:7]
    if col_yr_mth in month_list:
        trimmed_col_list.append(col)

pay_out_df_grouped_pivot_trimmed=pay_out_df_grouped_pivot[trimmed_col_list]

# getting overall info
pay_out_cols=trimmed_col_list[1:]

pay_out_df_grouped_pivot_trimmed['pay_out_months']= (pay_out_df_grouped_pivot_trimmed[pay_out_cols] > 0).sum(axis=1)
pay_out_df_grouped_pivot_trimmed['pay_out_total']=pay_out_df_grouped_pivot_trimmed[pay_out_cols].sum(axis=1)
pay_out_df_grouped_pivot_trimmed['avg_pay_out_per_pay_out_month']=pay_out_df_grouped_pivot_trimmed['pay_out_total']/pay_out_df_grouped_pivot_trimmed['pay_out_months']

pay_out_df_grouped_pivot_trimmed.dropna(inplace=True)
pay_out_df_grouped_pivot_trimmed.drop_duplicates(inplace=True)

C:\Users\C215016\AppData\Local\Temp\ipykernel_14504\686453413.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pay_in_df_grouped_pivot_trimmed['pay_in_months']= (pay_in_df_grouped_pivot_trimmed[pay_in_cols] > 0).sum(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_14504\686453413.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pay_in_df_grouped_pivot_trimmed['pay_in_total']=pay_in_df_grouped_pivot_trimmed[pay_in_cols].sum(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_14504\686453413.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pay_in_df_grouped_pivot_trimmed['avg_pay_in_per_pay_in_month']=pay_in_df_grouped_pivot_trimmed['pay_in_total']/pay_in_df_grouped_pivot_trimmed['pay_in_months']
C:\Users\C215016\.conda\envs\py39\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)
C:\Users\C215016\AppData\Local\Temp\ipykernel_14504\686453413.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pay_out_df_grouped_pivot_trimmed['pay_out_months']= (pay_out_df_grouped_pivot_trimmed[pay_out_cols] > 0).sum(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_14504\686453413.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pay_out_df_grouped_pivot_trimmed['pay_out_total']=pay_out_df_grouped_pivot_trimmed[pay_out_cols].sum(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_14504\686453413.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pay_out_df_grouped_pivot_trimmed['avg_pay_out_per_pay_out_month']=pay_out_df_grouped_pivot_trimmed['pay_out_total']/pay_out_df_grouped_pivot_trimmed['pay_out_months']

In [ ]:
pay_in_df_grouped_pivot_trimmed.head()

pay_in Month,ClientCode,2018-01_pay_in,2018-02_pay_in,2018-03_pay_in,2018-04_pay_in,2018-05_pay_in,2018-06_pay_in,2018-07_pay_in,2018-08_pay_in,2018-09_pay_in,...,2021-06_pay_in,2021-07_pay_in,2021-08_pay_in,2021-09_pay_in,2021-10_pay_in,2021-11_pay_in,2021-12_pay_in,pay_in_months,pay_in_total,avg_pay_in_per_pay_in_month
0,50000024,0.0,0.0,500.0,0.0,0.0,0.0,110000.0,46000.0,30000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8,190945.0,23868.125000
1,50000041,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,3000.0,3000.000000
2,50000063,0.0,4000.0,32000.0,0.0,5000.0,11500.0,1200.0,0.0,15000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12,116890.0,9740.833333
3,50000082,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,500.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10,115554.0,11555.400000
4,50000085,1100.0,178000.0,175000.0,21000.0,0.0,1000.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9,635124.0,70569.333333

## Feature Engineering
### Last 3,6,9,12 Months and median

In [ ]:
#Datework incl dormant period
month_list=[]

start=datetime(year=2018, month=1, day=1).date() #Start with Fy 22
end=datetime(year=2022, month=1, day=1).date()

while (start<end):
    month_list.append(start.strftime('%Y-%m'))
    start=start+relativedelta(months=1)

last_3_month_list=month_list[-3:]
last_6_month_list=month_list[-6:]
last_9_month_list=month_list[-9:]
last_12_month_list=month_list[-12:]


#Datework excl dormant period
month_list_excl=[]

start=datetime(year=2018, month=1, day=1).date() #Start with Fy 22
end=datetime(year=2021, month=1, day=1).date()

while (start<end):
    month_list_excl.append(start.strftime('%Y-%m'))
    start=start+relativedelta(months=1)

last_3_month_list_excl=month_list[-3:]
last_6_month_list_excl=month_list[-6:]
last_9_month_list_excl=month_list[-9:]
last_12_month_list_excl=month_list[-12:]

month_list

['2018-01',
 '2018-02',
 '2018-03',
 '2018-04',
 '2018-05',
 '2018-06',
 '2018-07',
 '2018-08',
 '2018-09',
 '2018-10',
 '2018-11',
 '2018-12',
 '2019-01',
 '2019-02',
 '2019-03',
 '2019-04',
 '2019-05',
 '2019-06',
 '2019-07',
 '2019-08',
 '2019-09',
 '2019-10',
 '2019-11',
 '2019-12',
 '2020-01',
 '2020-02',
 '2020-03',
 '2020-04',
 '2020-05',
 '2020-06',
 '2020-07',
 '2020-08',
 '2020-09',
 '2020-10',
 '2020-11',
 '2020-12',
 '2021-01',
 '2021-02',
 '2021-03',
 '2021-04',
 '2021-05',
 '2021-06',
 '2021-07',
 '2021-08',
 '2021-09',
 '2021-10',
 '2021-11',
 '2021-12']

#### 1.PayIn and PayOut

In [ ]:
suffix="_pay_in"

month_last_num_list=[3,6,9,12]
month_last_list=["last 3 months","last 6 months","last 9 months","last 12 months"]
month_lists=[last_3_month_list,last_6_month_list,last_9_month_list,last_12_month_list]

month_last_dict=dict(zip(month_last_list,month_lists))

for month_last_pos in range(len(month_last_list)):

    month_last_num=month_last_num_list[month_last_pos]
    month_last=month_last_list[month_last_pos]
    month_list=month_last_dict[month_last]

    engineered_col_list=['ClientCode']

    for col in pay_in_df_grouped_pivot_trimmed.columns:
        col_yr_mth=col[0:7]
        if col_yr_mth in month_list:
            engineered_col_list.append(col)

    pay_in_df_grouped_pivot_engineered=pay_in_df_grouped_pivot_trimmed[engineered_col_list]

    pay_in_cols=engineered_col_list[1:]
    pay_in_df_grouped_pivot_trimmed[month_last+suffix]= (pay_in_df_grouped_pivot_trimmed[pay_in_cols]).sum(axis=1)
    pay_in_df_grouped_pivot_trimmed["median_of_"+month_last+suffix]= (pay_in_df_grouped_pivot_trimmed[pay_in_cols]).median(axis=1)

pay_in_df_grouped_pivot_engineered=pay_in_df_grouped_pivot_trimmed


suffix="_pay_out"

month_last_num_list=[3,6,9,12]
month_last_list=["last 3 months","last 6 months","last 9 months","last 12 months"]
month_lists=[last_3_month_list,last_6_month_list,last_9_month_list,last_12_month_list]

month_last_dict=dict(zip(month_last_list,month_lists))

for month_last_pos in range(len(month_last_list)):

    month_last_num=month_last_num_list[month_last_pos]
    month_last=month_last_list[month_last_pos]
    month_list=month_last_dict[month_last]

    engineered_col_list=['ClientCode']

    for col in pay_out_df_grouped_pivot_trimmed.columns:
        col_yr_mth=col[0:7]
        if col_yr_mth in month_list:
            engineered_col_list.append(col)

    pay_out_df_grouped_pivot_engineered=pay_out_df_grouped_pivot_trimmed[engineered_col_list]

    pay_out_cols=engineered_col_list[1:]
    pay_out_df_grouped_pivot_trimmed[month_last+suffix]= (pay_out_df_grouped_pivot_trimmed[pay_out_cols]).sum(axis=1)
    pay_out_df_grouped_pivot_trimmed["median_of_"+month_last+suffix]= (pay_out_df_grouped_pivot_trimmed[pay_out_cols]).median(axis=1)

pay_out_df_grouped_pivot_engineered=pay_out_df_grouped_pivot_trimmed

C:\Users\C215016\AppData\Local\Temp\ipykernel_14504\2199679947.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pay_in_df_grouped_pivot_trimmed[month_last+suffix]= (pay_in_df_grouped_pivot_trimmed[pay_in_cols]).sum(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_14504\2199679947.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pay_in_df_grouped_pivot_trimmed["median_of_"+month_last+suffix]= (pay_in_df_grouped_pivot_trimmed[pay_in_cols]).median(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_14504\2199679947.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pay_in_df_grouped_pivot_trimmed[month_last+suffix]= (pay_in_df_grouped_pivot_trimmed[pay_in_cols]).sum(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_14504\2199679947.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pay_in_df_grouped_pivot_trimmed["median_of_"+month_last+suffix]= (pay_in_df_grouped_pivot_trimmed[pay_in_cols]).median(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_14504\2199679947.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pay_in_df_grouped_pivot_trimmed[month_last+suffix]= (pay_in_df_grouped_pivot_trimmed[pay_in_cols]).sum(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_14504\2199679947.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pay_in_df_grouped_pivot_trimmed["median_of_"+month_last+suffix]= (pay_in_df_grouped_pivot_trimmed[pay_in_cols]).median(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_14504\2199679947.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pay_in_df_grouped_pivot_trimmed[month_last+suffix]= (pay_in_df_grouped_pivot_trimmed[pay_in_cols]).sum(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_14504\2199679947.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pay_in_df_grouped_pivot_trimmed["median_of_"+month_last+suffix]= (pay_in_df_grouped_pivot_trimmed[pay_in_cols]).median(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_14504\2199679947.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pay_out_df_grouped_pivot_trimmed[month_last+suffix]= (pay_out_df_grouped_pivot_trimmed[pay_out_cols]).sum(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_14504\2199679947.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pay_out_df_grouped_pivot_trimmed["median_of_"+month_last+suffix]= (pay_out_df_grouped_pivot_trimmed[pay_out_cols]).median(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_14504\2199679947.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pay_out_df_grouped_pivot_trimmed[month_last+suffix]= (pay_out_df_grouped_pivot_trimmed[pay_out_cols]).sum(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_14504\2199679947.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pay_out_df_grouped_pivot_trimmed["median_of_"+month_last+suffix]= (pay_out_df_grouped_pivot_trimmed[pay_out_cols]).median(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_14504\2199679947.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pay_out_df_grouped_pivot_trimmed[month_last+suffix]= (pay_out_df_grouped_pivot_trimmed[pay_out_cols]).sum(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_14504\2199679947.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pay_out_df_grouped_pivot_trimmed["median_of_"+month_last+suffix]= (pay_out_df_grouped_pivot_trimmed[pay_out_cols]).median(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_14504\2199679947.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pay_out_df_grouped_pivot_trimmed[month_last+suffix]= (pay_out_df_grouped_pivot_trimmed[pay_out_cols]).sum(axis=1)
C:\Users\C215016\AppData\Local\Temp\ipykernel_14504\2199679947.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pay_out_df_grouped_pivot_trimmed["median_of_"+month_last+suffix]= (pay_out_df_grouped_pivot_trimmed[pay_out_cols]).median(axis=1)

#### 6. MF

In [ ]:
suffix="_mf_amt"

month_last_num_list=[3,6,9,12]
month_last_list=["last 3 months","last 6 months","last 9 months","last 12 months"]
month_lists=[last_3_month_list,last_6_month_list,last_9_month_list,last_12_month_list]

month_last_dict=dict(zip(month_last_list,month_lists))

for month_last_pos in range(len(month_last_list)):

    month_last_num=month_last_num_list[month_last_pos]
    month_last=month_last_list[month_last_pos]
    month_list=month_last_dict[month_last]

    engineered_col_list=['ClientCode']

    for col in mf_segment_amt_merged_sorted_totals_only.columns:
        col_yr_mth=col[0:7]
        if col_yr_mth in month_list:
            engineered_col_list.append(col)

    mf_amt_df_grouped_pivot_engineered=mf_segment_amt_merged_sorted_totals_only[engineered_col_list]

    mf_amt_cols=engineered_col_list[1:]
    mf_segment_amt_merged_sorted_totals_only[month_last+suffix]= (mf_segment_amt_merged_sorted_totals_only[mf_amt_cols]).sum(axis=1)
    mf_segment_amt_merged_sorted_totals_only["median_of_"+month_last+suffix]= (mf_segment_amt_merged_sorted_totals_only[mf_amt_cols]).median(axis=1)

mf_amt_df_grouped_pivot_engineered=mf_segment_amt_merged_sorted_totals_only


suffix="_mf_txns"

month_last_num_list=[3,6,9,12]
month_last_list=["last 3 months","last 6 months","last 9 months","last 12 months"]
month_lists=[last_3_month_list,last_6_month_list,last_9_month_list,last_12_month_list]

month_last_dict=dict(zip(month_last_list,month_lists))

for month_last_pos in range(len(month_last_list)):

    month_last_num=month_last_num_list[month_last_pos]
    month_last=month_last_list[month_last_pos]
    month_list=month_last_dict[month_last]

    engineered_col_list=['ClientCode']

    for col in mf_segment_txns_merged_sorted_totals_only.columns:
        col_yr_mth=col[0:7]
        if col_yr_mth in month_list:
            engineered_col_list.append(col)

    mf_txns_df_grouped_pivot_engineered=mf_segment_txns_merged_sorted_totals_only[engineered_col_list]

    mf_txns_cols=engineered_col_list[1:]
    mf_segment_txns_merged_sorted_totals_only[month_last+suffix]= (mf_segment_txns_merged_sorted_totals_only[mf_txns_cols]).sum(axis=1)
    mf_segment_txns_merged_sorted_totals_only["median_of_"+month_last+suffix]= (mf_segment_txns_merged_sorted_totals_only[mf_txns_cols]).median(axis=1)

mf_txns_df_grouped_pivot_engineered=mf_segment_txns_merged_sorted_totals_only

### Removing Month on Month data

In [ ]:
#Datework incl dormant period
month_list=[]

start=datetime(year=2018, month=1, day=1).date() #Start with Fy 22
end=datetime(year=2022, month=1, day=1).date()

while (start<end):
    month_list.append(start.strftime('%Y-%m'))
    start=start+relativedelta(months=1)

last_3_month_list=month_list[-3:]
last_6_month_list=month_list[-6:]
last_9_month_list=month_list[-9:]
last_12_month_list=month_list[-12:]


#Datework excl dormant period
month_list_excl=[]

start=datetime(year=2018, month=1, day=1).date() #Start with Fy 22
end=datetime(year=2021, month=1, day=1).date()

while (start<end):
    month_list_excl.append(start.strftime('%Y-%m'))
    start=start+relativedelta(months=1)

last_3_month_list_excl=month_list[-3:]
last_6_month_list_excl=month_list[-6:]
last_9_month_list_excl=month_list[-9:]
last_12_month_list_excl=month_list[-12:]

month_list

#### 1. Pay In and Pay Out

In [ ]:
#Pay_In
df=pay_in_df_grouped_pivot_engineered

#removing
cleaning_col_list=[]

for col in df.columns:
    col_yr_mth=col[0:7]
    if col_yr_mth in month_list:
        cleaning_col_list.append(col)

pay_in_df_grouped_pivot_engineered_cleaned=df[df.columns[~df.columns.isin(cleaning_col_list)]]



#Pay_Out
df=pay_out_df_grouped_pivot_engineered

#removing
cleaning_col_list=[]

for col in df.columns:
    col_yr_mth=col[0:7]
    if col_yr_mth in month_list:
        cleaning_col_list.append(col)

pay_out_df_grouped_pivot_engineered_cleaned=df[df.columns[~df.columns.isin(cleaning_col_list)]]

In [ ]:
pay_out_df_grouped_pivot_engineered_cleaned

pay_out Month,ClientCode,pay_out_months,pay_out_total,avg_pay_out_per_pay_out_month,last 3 months_pay_out,median_of_last 3 months_pay_out,last 6 months_pay_out,median_of_last 6 months_pay_out,last 9 months_pay_out,median_of_last 9 months_pay_out,last 12 months_pay_out,median_of_last 12 months_pay_out
0,50000024,4,29151.4,7287.850000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,50000041,1,1000.0,1000.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,50000063,6,312414.0,52069.000000,0.0,0.0,0.0,0.0,0.0,0.0,1800.0,0.0
3,50000082,8,148866.0,18608.250000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,50000085,5,229000.0,45800.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
248520,59999937,2,44448.0,22224.000000,0.0,0.0,0.0,0.0,44448.0,0.0,44448.0,0.0
248521,59999950,1,2880.0,2880.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
248522,59999953,10,333000.0,33300.000000,0.0,0.0,0.0,0.0,29000.0,0.0,53000.0,0.0
248523,59999973,19,4285500.0,225552.631579,0.0,0.0,19600.0,0.0,19600.0,0.0,19600.0,0.0
248524,59999995,1,22336.0,22336.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### 2. PnL

In [ ]:
#Pay_Out
df=pnl_engineered_segment_merged_sorted

#removing
cleaning_col_list=[]

for col in df.columns:
    col_yr_mth=col[0:7]
    if col_yr_mth in month_list:
        cleaning_col_list.append(col)

pnl_engineered_segment_merged_sorted_cleaned=df[df.columns[~df.columns.isin(cleaning_col_list)]]

In [ ]:
pnl_engineered_segment_merged_sorted_cleaned.head()

#### 4. Orders

In [ ]:
#Orders
df=orders_engineered_segment_merged_sorted

#removing
cleaning_col_list=[]

for col in df.columns:
    col_yr_mth=col[0:7]
    if col_yr_mth in month_list:
        cleaning_col_list.append(col)

orders_engineered_segment_merged_sorted_cleaned=df[df.columns[~df.columns.isin(cleaning_col_list)]]

In [ ]:
orders_engineered_segment_merged_sorted_cleaned.head()

orders Month,ClientCode,_commodity_orders_months,_commodity_orders_total,_currency_orders_months,_currency_orders_total,_derivatives_orders_months,_derivatives_orders_total,_equity_orders_months,_equity_orders_total,_median_of_last 12 months_commodity_orders,...,last 3 months_equity_orders,last 6 months_commodity_orders,last 6 months_currency_orders,last 6 months_derivatives_orders,last 6 months_equity_orders,last 9 months_commodity_orders,last 9 months_currency_orders,last 9 months_derivatives_orders,last 9 months_equity_orders,all_orders_total
0,22222222,NaN,NaN,NaN,NaN,NaN,NaN,1.0,6.0,NaN,...,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,6.0
1,50000272,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,...,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,1.0
2,50000311,NaN,NaN,NaN,NaN,NaN,NaN,2.0,47.0,NaN,...,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,47.0
3,50000341,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,...,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,1.0
4,50000381,NaN,NaN,NaN,NaN,NaN,NaN,1.0,4.0,NaN,...,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,4.0

#### 6. MF

In [ ]:
#Amt
df=mf_amt_df_grouped_pivot_engineered

#removing
cleaning_col_list=[]

for col in df.columns:
    col_yr_mth=col[0:7]
    if col_yr_mth in month_list:
        cleaning_col_list.append(col)

mf_amt_df_grouped_pivot_engineered_cleaned=df[df.columns[~df.columns.isin(cleaning_col_list)]]


#txns
df=mf_txns_df_grouped_pivot_engineered

#removing
cleaning_col_list=[]

for col in df.columns:
    col_yr_mth=col[0:7]
    if col_yr_mth in month_list:
        cleaning_col_list.append(col)

mf_txns_df_grouped_pivot_engineered_cleaned=df[df.columns[~df.columns.isin(cleaning_col_list)]]

#### 7. Turnover and Brokerage

In [ ]:
#Orders
df=to_brkg_engineered_segment_merged_sorted

#removing
cleaning_col_list=[]

for col in df.columns:
    col_yr_mth=col[0:7]
    if col_yr_mth in month_list:
        cleaning_col_list.append(col)

to_brkg_engineered_segment_merged_sorted_cleaned=df[df.columns[~df.columns.isin(cleaning_col_list)]]

## Saving the month on month + agg Dataframes

#### 1. PayIn and PayOut

In [ ]:
#MoM and Agg
pay_in_df_grouped_pivot_engineered.to_csv(os.getcwd()+'/Refreshed_PreProcessed/pay_in_preprocessed_mom_and_agg.csv',index=False)
pay_out_df_grouped_pivot_engineered.to_csv(os.getcwd()+'/Refreshed_PreProcessed/pay_out_preprocessed_mom_and_agg.csv',index=False)

#Agg
pay_in_df_grouped_pivot_engineered_cleaned.to_csv(os.getcwd()+'/Refreshed_PreProcessed/pay_in_preprocessed_agg_only.csv',index=False)
pay_out_df_grouped_pivot_engineered_cleaned.to_csv(os.getcwd()+'/Refreshed_PreProcessed/pay_out_preprocessed_agg_only.csv',index=False)

#### 2. PnL

In [ ]:
#MoM and Agg
pnl_engineered_segment_merged_sorted.to_csv(os.getcwd()+'/Refreshed_PreProcessed/pnl_preprocessed_mom_and_agg.csv',index=False)

#Agg
pnl_engineered_segment_merged_sorted_cleaned.to_csv(os.getcwd()+'/Refreshed_PreProcessed/pnl_preprocessed_agg_only.csv',index=False)

#### 3. Customer Properties

In [ ]:
dormant_and_traded_clients.to_csv(os.getcwd()+'/Refreshed_PreProcessed/customer_details_preprocessed.csv',index=False)

#### 4. Orders

In [ ]:
#MoM and Agg
orders_engineered_segment_merged_sorted.to_csv(os.getcwd()+'/Refreshed_PreProcessed/orders_preprocessed_mom_and_agg.csv',index=False)

#Agg
orders_engineered_segment_merged_sorted_cleaned.to_csv(os.getcwd()+'/Refreshed_PreProcessed/orders_preprocessed_agg_only.csv',index=False)

#### 6. MF

In [ ]:
#MoM and Agg
mf_amt_df_grouped_pivot_engineered.to_csv(os.getcwd()+'/Refreshed_PreProcessed/mf_amt_preprocessed_mom_and_agg.csv',index=False)
#Agg
mf_amt_df_grouped_pivot_engineered_cleaned.to_csv(os.getcwd()+'/Refreshed_PreProcessed/mf_amt_preprocessed_agg_only.csv',index=False)

#MoM and Agg
mf_txns_df_grouped_pivot_engineered.to_csv(os.getcwd()+'/Refreshed_PreProcessed/mf_txns_preprocessed_mom_and_agg.csv',index=False)
#Agg
mf_txns_df_grouped_pivot_engineered_cleaned.to_csv(os.getcwd()+'/Refreshed_PreProcessed/mf_txns_preprocessed_agg_only.csv',index=False)

#### 7. Turnover and Brokerage

In [ ]:
#MoM and Agg
to_brkg_engineered_segment_merged_sorted.to_csv(os.getcwd()+'/Refreshed_PreProcessed/to_brkg_preprocessed_mom_and_agg.csv',index=False)

#Agg
to_brkg_engineered_segment_merged_sorted_cleaned.to_csv(os.getcwd()+'/Refreshed_PreProcessed/to_brkg_preprocessed_agg_only.csv',index=False)

#### 8. Ledger Bal

In [ ]:
ledger_bal_v_amt_merged_sorted.to_csv(os.getcwd()+'/Refreshed_PreProcessed/ledger_bal_v_preprocessed.csv',index=False)